/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/


/* BACKGROUND */

body {
	background: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcGQyMC00NC0wMS0wMS1qal8yLmpwZw.jpg') center center fixed;
	background-size: 100%;
	font-family: CSS FONT HERE;
	color: #080807;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: url('https://freerangestock.com/sample/120736/white-and-grey-marble-abstract-texture.jpg');
	border: none;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: #56693d;
        border: 3px solid #c4a90c !important;
	border-bottom: 3px solid #c4a90c;
        border-top: none !important;
        border-right: 3px solid #c4a90c !important;
	color: #080807;
	border-radius: 5px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: #56693d;
        border-bottom: 4px Solid #c4a90c;
	color: #080807;
	border-radius: 5px;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #A3CE76 !important;
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #2b3622 !important;
	border-bottom: none;
	color: #A3CE76 !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg') !important;
        border: 3px solid #c4a90c;
	border-radius: 5px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #080807
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "CSS by Kyrie #169252";
        color: #080807;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: #d4d3c9 !important;
        border: 10px solid #c4a90c
	border-radius: 5px;
	color: #080807 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: #d4d3c9;
        border: 3px Solid #c4a90c !important;
	border-radius: 5px;
        text-shadow: none !important;
	color: #080807 !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: url('https://freerangestock.com/thumbnail/123031/abstract-golden-paint-texture.jpg') !important;
	border: 3px solid #c4a90c;
	color: #080807;
	border-radius: 5px !important;
}


/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #c4a90c;
	font-size: 90px;
	text-align: center;
        font-family: 'FONT NAME'
}


/* MEDIUM HEADER */

h2 {
	color: #c4a90c;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #c4a90c !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #c4a90c !important;
        font-size: 26px !important;
        font-family: 'FONT NAME'
}

/* RIGHT SIDE PANELS */
.panel {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg') !important;
	box-shadow: none !important;
	border: 3px dotted #161f0e !important;
	color: #080807 !important;
	border-radius: 5px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #fddc5c;
	color: #080807!important;
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: url('https://freerangestock.com/thumbnail/123031/abstract-golden-paint-texture.jpg');
	color: #080807 !important;
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #080807 !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg') !important;
        color: #080807 !important;
	border: 3px solid #c4a90c !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #d4d3c9 !important;
        color: #080807!important;
	border: 3px solid #c4a90c !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background:  #56693d !important;
        color: #080807 !important;
	border: 3px Solid #c4a90c !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #080807 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: url('https://freerangestock.com/thumbnail/123031/abstract-golden-paint-texture.jpg') !important;
        color: #080807 !important;
	border: 3px solid #c4a90c !important;
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg');
	border: 3px solid #c4a90c !important;
	border-collapse: separate;
	border-radius: 5px;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: #56693d !important;
	color: #080807 !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: #d4d3c9  !important;
        color: #080807;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: #d4d3c9;
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: #56693d;
	border: none !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: #2c3b1c !important;
	color: #080807!important;
	border: 3px dotted #161f0e !important;
	border-radius: 5px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg');
	border: 3px solid #c4a90c;
	border-radius: 5px;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: url('https://freerangestock.com/thumbnail/133236/grey-and-white-horizontal-marble-texture.jpg');
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: #d4d3c9 !important;
	border: none
	border-radius: 0px !important;
	color: #080807 !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: #c4a90c !important;
	color: #080807  !important;
	border-radius: 0px !important;
}

.item {
	background: #56693d !important;
	border: none !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #d4d3c9 !important
}

div.slider.round::before /* Circle Part */ {
	background: #c4a90c !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #A3CE76 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #c4a90c !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #fddc5c !important
}

/* Default link color */
a:link,
a:visited {
    color: #c4a90c !important;
}

/* Default link hover color */
a:hover {
    color: #fddc5c !important;
}

/* Link color in alerts */
.alert a:link,
.alert a:visited {
    color: #ff0000 !important;
}

.alert a:hover {
    color: #a61205 !important;
}

/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: #a2c3b1c;
	color: #A3CE76;
	padding: 10px;
	border: 3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: #2c3b1c;
	color: #A3CE76;
	padding: 10px;
	border:  3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: #2c3b1c;
	color: #3A4D29;
	padding: 10px;
	border:  3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: #2c3b1c;
	color: #A3CE76;
	padding: 10px;
	border:  3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: #2c3b1c;
	color: #A3CE76;
	padding: 10px;
	border:  3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: #2c3b1c;
	color: #A3CE76;
	padding: 10px;
	border: 3px dotted #161f0e;
	border-radius: 5px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #d4d3c9
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: url('https://freerangestock.com/thumbnail/123031/abstract-golden-paint-texture.jpg');
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}
/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/3dk2qPr/Foxliodenlogo.png')
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
/* GOLD BEETLE */
img[src$="gold.png"] {
    content:url('https://static.lioden.com/img/layout/icon-season-dry.png')!important;
    width:20px!important;
 
}
 
/* SILVER BEETLE */
img[src$="silver.png"] {
    content:url('https://static.lioden.com/img/layout/icon-time-night.png')!important;
    width:20px!important;
 
}
/* Floating Image in bottom right corner */
#float2 {
    background: url('https://i.imgur.com/lWvWR5P.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px; /* Adjust the width as needed */
    height: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
}
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
}
